<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!--端口号-->
    <add key="Port" value="4" />
    <!--波特率-->
    <add key="Baud" value="9600" />
    <!--句柄-->
    <add key="Handle" value="84" />



  </appSettings>
</configuration>