<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!--端口号-->
    <add key="Port" value="2" />
    <!--波特率-->
    <add key="Baud" value="9600" />
    <add key="YLJGBM" value="100056" />
    <add key="OperNo" value="5005" />
    <add key="OperName" value="自助机5" />


    <!--更新地址-->
    <add key="UpdateServer" value="http://200.200.200.104:9983/CardUpdate.xml" />
    <!--检测间隔,单位分钟-->
    <add key="UpdateInterval" value="60" />
    <!--自动更新是否开启-->
    <add key="UpdateOpen" value="true" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>